@using SportSY.Core.Models
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*@inject Person PersonModel*@
<head>
    <link href="~/bower_components/jquery-tag-editor/jquery.tag-editor.css" rel="stylesheet" />
</head>
<p> create team pls !!!</p>
<div id="creatTeamMainContainer">
    <div id="selectedPesonContainer">
        <textarea id="selectedTeamMembers"></textarea>

    </div>
    <ul id="playersList">
        @{
            List<Person> persons = ViewBag.Persons;
            foreach (var person in persons)
            {
                var personName = @person.FirstName +" " + @person.LastName;
                <li  data-person-name="@personName">
                    <div class="personItem">
                        <div id="personImage">
                            <img src="~/images/basketball-player.png" class="playerAvatar"/>
                        </div>
                        <div class="personInfomation">
                            <h3>
                                <p>@personName</p>
                            </h3>
                            <h5>Goal Keeper</h5>
                        </div>
                    </div>
                </li>
            }
        }
    </ul>

</div>

